kismet_httpd:
  username: kismet
  password: PASSWORD
  address: localhost
  port: '2501'
  uri_prefix: ''
  reconnect: true
  reconnect_delay: 3
local_process_management:
  enabled: true
  kismet_server: true
local_gpio:
  enabled: true
  input_buttons:
    enabled: true
    use_gpiozero: true
    lines:
    - function: show_stats
      gpio_pin: 26
  leds:
    enabled: true
    use_gpiozero: true
    lines:
    - function: new_ssid
      gpio_pin: 23
    - function: new_ap
      gpio_pin: 24
    - function: new_device
      gpio_pin: 25
    - function: gps_status
      gpio_pin: 12
  neopixels:
    enabled: true
    pin: 18
    count: 8
    brightness: 0.2
    order: GRB
    duration: 0.3
    pixels:
    - color:
      - 255
      - 255
      - 0
      function: ws_connected
    - color:
      - 0
      - 255
      - 0
      function: gps_status
    - color:
      - 0
      - 0
      - 255
      function: new_ssid
    - color:
      - 0
      - 255
      - 255
      function: new_ap
    - color:
      - 0
      - 255
      - 0
      function: new_device
i2c_display:
  enabled: true
  driver: adafruit_ssd1306
  width: 128
  height: 32
msg_to_stdout: true
debug: false
debug_ws: false
